#even2 { 
  color:  blue;

  font-size: 36px;
}
#even4 {
    background-color: lightgreen;
    font-size: 24px;
    font-weight: bold;
}
.ten {
    background-color: rgb(241, 80, 200);
    font-family:' Verdana, DejaVu sans, sans-serif' ;
   
}
.me {
    background-color: rgb(246, 81, 204);
    font-size: 24px;
}body {
    background-color: rgb(184, 112, 112);
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkfxqJ-pRpXA_HtStTPEi3GiFD6ZcmSKfl8A&usqp=CAU);
    background-repeat: no-repeat;
    background-size: cover;
    
}
